.form {
    h2 {
        margin-top: 0.5em;
    }
    .form__input {
        margin-top: 4px;
    }
}

.input {
    border-radius: 2px;
    border: 1px solid #ccc;
    padding: 8px 10px;
    min-width: 25em;
    display: block;
}

.imageInstructions {
    // background-image: url("../assets/contact-compressed.jpeg");
    // background-size: cover;
    width: 40%;
    float: right;
    // height: 95vh;

    img {
        width: 100%;
    }
}

.flex-cont {
    display: flex;
    flex-flow: row wrap;

    & > * {
        width: 50%;
    }
}

.instructions {
    font-size: 0.8em;
    margin: 10px 0;
    max-width: 25em;
}

.page--settled .fade-in,
.page--new .fade-in {
    width: 60%;
    display: inline-block;
    padding-left: 7.5%;
    padding-top: 2em;
}
