/// <refernce path="./styles.scss">


// Globals
* {
    margin: 0;
    padding: 0;
    font-family: "Oswald";
    box-sizing: border-box;
}

html {
    font-size: 16px;
    letter-spacing: 0.03em;
}

body {
    // background-image: linear-gradient(to top, $blue 0%, $cyan 100%);
    // min-height: 99vh;
}

.background {
    background-image: url("../assets/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 99vh;
}

li {
    list-style-type: none;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
.fade-in {
    animation: fadein 1.25s;
}

.container {
    width: 85%;
    margin: 0 auto;
    padding-top: 2em;
    &.header__nav {
        padding-top: 0;
    }
}

.button {
    padding: 5px 10px;
    text-transform: uppercase;
    background-color: $blue;
    color: white;
    border: 1px solid darken($blue, 5%);
    border-radius: 3px;
    text-decoration: none;
    display: inline-block;
    font-weight: 700;
    margin-top: 6px;
    
    &:hover {
        background-color: $cyan;
        color: $blue;
    }
}
