/// <refernce path="./styles.scss">

.header {
    background-color: $grey;
    box-shadow: 0 0px 15px black;

    &:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 4px;
        background-image: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%)
    }

    .header__nav {
        display: flex;
        justify-content: space-between;

        .icons {
            display: flex;
            align-items: center;
            li i {
                color: white;
                font-size: 1.5em;
                margin-left:0.7em;

                &:hover {
                    color: $cyan;
                    cursor: pointer;
                }
            }
        }

        .header__nav--ul {
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            justify-content: flex-start;
            padding: 4px 0;

            .header__nav--item {
                margin-right: 1em;              

                .header__nav--link {
                    text-decoration: none;
                    font-size: 1.35em;
                    color: $white;
                    text-transform: uppercase;
                    
                    &.logo {
                        font-size: 2em;
                        color: $cyan;
                        letter-spacing: 0.15em;
                        font-weight: 700;
                    }

                    &:hover {
                        color: $cyan;
                    }
                }

                &.translate {
                    position: absolute;
                    right: 10%;
                }
            }
        }
    }
}