/// <refernce path="./styles.scss">

.header {
    background-color: $grey;
    box-shadow: 0 0px 15px black;

    .header__nav {
        .header__nav--ul {
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            justify-content: flex-start;
            padding: 8px 0;

            .header__nav--item {
                margin-right: 1em;              

                .header__nav--link {
                    text-decoration: none;
                    font-size: 1.35em;
                    color: $white;
                    text-transform: uppercase;
                    
                    &.logo {
                        font-size: 1.5em;
                        color: $cyan;
                        letter-spacing: 0.05em;
                        font-weight: 700;
                    }

                    &:hover {
                        color: $cyan;
                    }
                }

                &.translate {
                    position: absolute;
                    right: 10%;
                }
            }
        }
    }
}