/// <refernce path="./styles.scss">

.firstQuestion {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    padding-top: 2em;
    
    .firstQuestion__cont {
        text-align: center;

        .firstQuestion__title {
            font-size: 4em;
            color: white;
            text-shadow: 1px 2px 1px black;
        }

        .firstQuestion__question {
            font-weight: 700;
            font-size: 1.3em;
            margin-bottom: 0.6em;
        }

        .firstQuestion__answers {
            display: flex;
            justify-content: center;
            flex-flow: row wrap;

            .firstQuestion__answers--button {
                width: 33%;
                margin-bottom: 6px;
                margin: 5px 7px;
            }
        }
    }

}

.about {
    img {
        width: 100%;
    }

    .pdf {
        position: absolute;
        right: 90px;

        a {
            color: white;
            text-align: right;
            display: flex;
            align-items: center;
            text-decoration: none;
            margin-top: 4px;
            
            &:hover {
                color: $cyan;
            }

            i {
                margin-top: 8px;
                font-size: 1.3em;
                margin-left: 8px;
            }
        }
    }
}