.response__cont {
    text-align: center;
    padding-top: 6%;

    h1 {
        font-size: 3em;
    }
    h3 {
        margin-bottom: 1em;
    }
    .response__content {
        margin-top: 0.75em;
        font-size: 1.5em;
    }
}