@import url("https://fonts.googleapis.com/css?family=Oswald");
* {
  margin: 0;
  padding: 0;
  font-family: "Oswald";
  box-sizing: border-box; }

html {
  font-size: 16px;
  letter-spacing: 0.03em; }

.background {
  background-image: url("../assets/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 99vh; }

li {
  list-style-type: none; }

@-webkit-keyframes fadein {
  from {
    -webkit-filter: blur(5px);
            filter: blur(5px);
    opacity: 0; }
  to {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1; } }

@keyframes fadein {
  from {
    -webkit-filter: blur(5px);
            filter: blur(5px);
    opacity: 0; }
  to {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1; } }

.fade-in {
  -webkit-animation: fadein 1s;
          animation: fadein 1s; }

.container {
  width: 85%;
  margin: 0 auto;
  padding-top: 2em; }
  .container.header__nav {
    padding-top: 0; }

.button {
  padding: 5px 10px;
  text-transform: uppercase;
  background-color: blue;
  color: white;
  border: 1px solid #0000e6;
  border-radius: 3px;
  text-decoration: none;
  display: inline-block;
  font-weight: 700;
  margin-top: 6px; }
  .button:hover {
    background-color: cyan;
    color: blue; }

.header {
  background-color: grey;
  box-shadow: 0 0px 15px black; }
  .header:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-image: linear-gradient(to top, transparent 0%, rgba(0, 0, 0, 0.5) 100%); }
  .header .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .header .header__nav .icons {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .header .header__nav .icons li i {
        color: white;
        font-size: 1.5em;
        margin-right: 0.7em; }
        .header .header__nav .icons li i:hover {
          color: cyan;
          cursor: pointer; }
    .header .header__nav .header__nav--ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-flow: row wrap;
              flex-flow: row wrap;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      padding: 4px 0; }
      .header .header__nav .header__nav--ul .header__nav--item {
        margin-right: 1em; }
        .header .header__nav .header__nav--ul .header__nav--item .header__nav--link {
          text-decoration: none;
          font-size: 1.35em;
          color: white;
          text-transform: uppercase; }
          .header .header__nav .header__nav--ul .header__nav--item .header__nav--link.logo {
            font-size: 2em;
            color: cyan;
            letter-spacing: 0.15em;
            font-weight: 700; }
          .header .header__nav .header__nav--ul .header__nav--item .header__nav--link:hover {
            color: cyan; }
        .header .header__nav .header__nav--ul .header__nav--item.translate {
          position: absolute;
          right: 10%; }

.firstQuestion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 80vh;
  padding-top: 2em; }
  .firstQuestion .firstQuestion__cont {
    text-align: center; }
    .firstQuestion .firstQuestion__cont .firstQuestion__title {
      font-size: 4em;
      color: white;
      text-shadow: 1px 2px 1px black; }
    .firstQuestion .firstQuestion__cont .firstQuestion__question {
      font-weight: 700;
      font-size: 1.3em;
      margin-bottom: 0.6em; }
    .firstQuestion .firstQuestion__cont .firstQuestion__answers {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-flow: row wrap;
              flex-flow: row wrap; }
      .firstQuestion .firstQuestion__cont .firstQuestion__answers .firstQuestion__answers--button {
        width: 33%;
        margin-bottom: 6px;
        margin: 5px 7px; }

.about img {
  width: 100%; }

.form h2 {
  margin-top: 0.5em; }

.form .form__input {
  margin-top: 4px; }

.input {
  border-radius: 2px;
  border: 1px solid #ccc;
  padding: 8px 10px;
  min-width: 25em;
  display: block; }

.response__cont {
  text-align: center;
  padding-top: 8%; }
  .response__cont h1 {
    font-size: 3em; }
  .response__cont .response__content {
    margin-top: 0.75em;
    font-size: 1.5em; }
