@import url("https://fonts.googleapis.com/css?family=Oswald");
* {
  margin: 0;
  padding: 0;
  font-family: "Oswald";
  box-sizing: border-box; }

html {
  font-size: 16px; }

.background {
  background-image: url("../assets/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 99vh; }

li {
  list-style-type: none; }

@-webkit-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.fade-in {
  -webkit-animation: fadein 1s;
          animation: fadein 1s; }

.container {
  width: 85%;
  margin: 0 auto; }

.button {
  padding: 5px 10px;
  text-transform: uppercase;
  background-color: blue;
  color: white;
  border: 1px solid #0000e6;
  border-radius: 3px;
  text-decoration: none;
  display: inline-block; }
  .button:hover {
    background-color: cyan;
    color: blue; }

.input {
  border-radius: 2px;
  border: 1px solid #ccc; }

.header {
  background-color: grey;
  box-shadow: 0 0px 15px black; }
  .header .header__nav .header__nav--ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 8px 0; }
    .header .header__nav .header__nav--ul .header__nav--item {
      margin-right: 1em; }
      .header .header__nav .header__nav--ul .header__nav--item .header__nav--link {
        text-decoration: none;
        font-size: 1.35em;
        color: white;
        text-transform: uppercase; }
        .header .header__nav .header__nav--ul .header__nav--item .header__nav--link.logo {
          font-size: 1.5em;
          color: cyan;
          letter-spacing: 0.05em;
          font-weight: 700; }
        .header .header__nav .header__nav--ul .header__nav--item .header__nav--link:hover {
          color: cyan; }
      .header .header__nav .header__nav--ul .header__nav--item.translate {
        position: absolute;
        right: 10%; }
