@import url('https://fonts.googleapis.com/css?family=Oswald');
// Variables
$cyan: cyan;
$blue: blue;
$grey: grey;
$white: white;

@import 'globals.scss';
@import "header.scss";
@import "home.scss";
@import "form.scss";
@import "response.scss";
@import "mobile.scss";